.suggestions {
    position: absolute;
    top: 100%;
    width: 80%;
}

.search-question {
    color: #ddd;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    width: 25%;
    transition: width 0.5s, border-color 0.5s;
  }
  
  .search-question:focus {
    width: 80%;
    border-color: #aaa;
  }