.choice-item:hover {
    background-color: beige;
    cursor: pointer;
}

.choice-item {
    background-color: white;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}

.choice-item-focused {
    background-color: beige;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
}