body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.search-question {
  color: #ddd;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  width: 25%;
  transition: width 0.5s, border-color 0.5s;
}

.search-question:focus {
  width: 80%;
  border-color: #aaa;
}